body{
    background-image: url('insuranceprogress.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.col-md-12{
    margin-top: 5px;
    margin-bottom: 10px;
    padding : 5px;
}
h2,h5{
    text-decoration: underline;
    font-weight: bold;
}
.card{
    margin-top: 5px;
    margin-bottom: 10px;
    padding : 5px;
}